<h1> index page of user model</h1>
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  <table style="width:100%"> 
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone_no</th>
      </tr>
    </thead>
    <% @users.each do |user| %>

    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_no %></td> 
    </tr>
    <% end %>
  </table>
</body>
</html>